.exercises {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4%;
    column-gap: 3%;
    
}
@media only screen and (max-width: 700px){
    .exercises {
        grid-template-columns: repeat(1, 1fr);
    }
}
