.main-header {
    margin-left: 3%;
    margin-top: 2%;
}

.header {
    display: flex;
    align-items: center;

}

.header img {

    height: 35px;
}

.header h2 {
    margin-left: 15px;
    color: #2a9d8f;
}

@media only screen and (max-width: 700px) {
    .main-header {
        text-align: center;
    }

    .header {
        justify-content: center;
    }
}